aiohttp
aiosignal
annotated-types
anyio
attrs
blinker
certifi
charset-normalizer
click
distro
Flask
Flask-Cors
frozenlist
h11
httpcore
httpx
idna
itsdangerous
Jinja2
joblib
MarkupSafe
multidict
nltk
openai==0.28.0
pydantic
pydantic_core
python-dotenv
regex
requests
sniffio
tqdm
typing_extensions
urllib3
Werkzeug
yarl
gunicorn==21.1.0
google-generativeai